#1 {
    background-color: rgb(24, 119, 126);
  }
 #2 {
    background-color: rgb(126, 24, 112);
  }
  #3 {
    background-color: rgb(126, 24, 49);
  }
  #4 {
    background-color: rgb(151, 64, 86);
  }
  #5 {
    background-color: rgb(7, 99, 86);
  }
  #6 {
    background-color: rgb(20, 247, 216);
  }
  #7 {
    background-color: rgb(172, 158, 37);
  }
  #8 {
    background-color: rgb(66, 192, 34);
  }
  #9 {
    background-color: rgb(212, 63, 63);
  }
  #10 {
    background-color: rgb(126, 56, 29);
  }